<component name="ArtifactManager">
  <artifact type="war" name="springmvchibernatespringsecurity:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-hibernate-spring-security.war">
      <element id="artifact" artifact-name="springmvchibernatespringsecurity:war exploded" />
    </root>
  </artifact>
</component>